@import "../font-awesome/css/font-awesome.css";
@import "../font-awesome/css/font-awesome.min.css";

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #ECECEC;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: fixed;
    z-index: 999;
    margin: 0;
    animation: simpleFade .3s;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}
.page-error{
    position: relative;
    height: 442px;
    background-size: cover !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-position: center center !important;
    text-align: center;
}
hr{
    width: 72%;
    position: relative;
    margin-top: -46px;
}
.container{
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}
.editScreen {
    position: fixed;
    z-index: 9999;
    width: 60%;
    border: 1px solid #929292;
    background-color: #DADADA;
    box-shadow: 0px 0px 5px #848484;
    padding-bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:20px;
    bottom: 20px;
    display: none;
}
.logScreen,.page-error{
    min-height: 516px;
    width: 60%;
    margin-top: 5%;
    margin-left: 19%;
    border: 1px solid #929292;
    background-color: #DADADA;
    box-shadow: 0px 0px 5px #848484;
    padding-bottom: 20px;
}


.error {
    background: #F3B4B4;
    color: #E22222;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*PROFILE*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #ECECEC;
}
hr{
    width: 72%;
    position: relative;
    margin-top: -46px;
}
#profile {
    font-size: 16px;
    width: 56.4%;
    position: absolute;
    left: calc(53% - 27.5%);
    right: 0;
    padding: 10px;
    top: 40px;
}

a{
    margin-right: 10px;
    color: #000;
    text-decoration: none;
}

.container{
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}
.logScreen{
    min-height: 516px;
    width: 60%;
    background-color: brown;
    margin-top: 5%;
    margin-left: 19%;
    border: 1px solid #929292;
    background-color: #DADADA;
    box-shadow: 0px 0px 5px #848484;
}
.content{
    position: relative;
    padding-left: 10%;
    margin-top: 84px;}
.logScreen h1,.editScreen h1{text-align: -webkit-center;line-height: 100px;font-family: Century Gothic;font-weight: 300;}
.logScreen .top,.editScreen .top{position: relative; width: 100%;}
.form-control {
    height: 50px;
    width: 84%;
    margin-bottom: 10px;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    position: relative;
}
.form-control [name="firstname"]{
    width: 87%;
}
.form-bottom{height: 55%;}
.form-bottom textarea{
    width: 89.4%;
    height: 180px;
    border-color: #BDBDBD;
    box-shadow: 0px 0px 1px #848484;
    resize: vertical;
}
.form-bottom form button.btn {width: 100%;}
button.btn:hover {
    background-color: #1AC5E7;
    color: #fff;
}
button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    margin-top: 10px;
    width: 90.4%;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn.btn-danger{
    background-color: #E71919;
    margin-top: 3px;
}
.btn.btn-danger:hover{
    background-color: #e72f18;
}
button, input, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/*input[type='password']{
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    margin-top: 10px;
}
input[name='username']{
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}*/
nav{
    position: fixed;
    height: 40px;
    width: calc(100% - 40px);
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0px 1px 2px #6C6C6C;
    background-image: linear-gradient(to bottom, rgb(205, 205, 205) 36%,
    rgb(181, 181, 181));
    padding: 0 20px 0 20px;
}
nav p {
    position: relative;
    margin-top: 0px;
    font-family: century Gothic;
    font-size: 35px;
}
nav h1 {
    float: left;
    margin: 0;
    margin-top: 4px;
}
nav ul{
    float: right;
}
li{
    display: block;
}

#userDetail{
    position: fixed;
    height: 100%;
    width: 25%;
    background-color: #DADADA;
    left: 0px;
    top: 40px;
    padding-top: 20px;
    box-shadow: 0px 0px 4px #969494;
}

.userThumb{
    position: relative;
    background-color: gray;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 45px;
    border-radius: 50px;
    background-image: url('');
    background-size: cover;
    text-align: center;
    line-height: 100px;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}
.card .userThumb{
    float: left;
    margin-right: 10px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 35px;
}
.card p{
    -webkit-margin-before: 2em;
    font-size: 16px;
}
.card button{
    width: auto;
    margin-left: 115px;
}
.buddyThumb{
    position: relative;
    background-color: gray;
    background-image: url('');
    background-size: cover;
    height: 75px;
    width: 75px;
    margin-top: 0px;
    margin-left: 12px;
    border-radius: 50px;
    float: left;
    text-align: center;
    line-height: 75px;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
.organizerText{
    position: relative;
}
.card {
    width: 56%;
    position: fixed;
    padding: 10px 0px;
    background-color: #DADADA;
    z-index: 2;
    box-shadow: 0px 0px 2px #909090;
}
.card textarea{
    width: 73%;
    height: 140px;
    margin: 10px;
    margin-left: 9px;
    resize: none;
    display: block;
    margin-bottom: 4px;
    border-color: #BDBDBD;
    box-shadow: 0px 0px 1px #848484;
    resize: vertical;
}


.fixed {
    position: fixed;
    /*top:0; left:0;*/
    width: 56%;
    opacity: 0.9;
}

.fixed form {
    display: none;
}

#linkFechar {
    top: 10px;
    position: absolute;
    float: right;
    right: 10px;
}

.botaoOculto, .linkFechar {
    display: none;
}

.cardPub{
    position: relative;
    width: 100%;
    min-height: 270px;
    background-color: #DADADA;
    margin-top: 10px;
    top: 240px;
    box-shadow: 0px 0px 10px #8C8C8C;
}
.cardPub .buddyPub{
    position: relative;
    width: 100%;
    height: 84px;
    background-color: #848484;
    padding-top: 7px;
}
.cardPub .buddyInfo li{
    font-size: 12px;
}
.cardPub li.userName{
    font-size: 16px;
}
#userDetail li.userName{
    font-size: 22px;
    margin-bottom: 7px;
    font-family: Century Gothic;
}
#userDetail hr{
    margin-top: 0;
    width: 100%;
}
.buddyPub ul {
    margin-left: 0;
    float: left;
    padding-left: 10px;
}
.pubActions {
    position: relative;
    background-color: #BDBDBD;
    height: 16px;
    margin: 0px;
    top: -9px;
    padding: 8px;
}
.pubActions a{
    text-decoration: blink;
}

.links{
    transition: 0.2s;
    color: #E4E4E4;
}
.links:hover{
    color: #fff;

}
.firstChild{
    margin-left: 7px;
}
.secondChild{
    margin-left: 213px;
}
.trirdChild{
    float: right;
}
.publication{
    padding: 25px;
}
.publication p{
    text-align: justify;
}
.opt {
    height: 35px;
    width: 60px;
    display: block;
    position: absolute;
    right: 13px;
    top: 25px;
}
.opt .fa{
    font-size: 20px !important;
    position: absolute;
    right: 12px;
}
.opt ul {
    margin: 0;
    margin-left: 12px;
    margin-top: 23px;
    display: none;
}
.opt:hover > ul {
    display: block;
}

/* MEMBER LIST*/
#buddyList{
    height: 100%;
    position: fixed;
    width: 16%;
    background-color: #DADADA;
    right: 0;
    top: 40px;
    box-shadow: 0px 0px 4px #969494;
}
#buddyList p {
    margin: 0;
    line-height: 44px;
    margin-left: 10px;
    left: 5px;
    position: relative;
}
#buddyList .buddyThumb {
    width: 30px;
    height: 30px;
    top: 0;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
}
aside#buddyList p {
    margin: 0;
    line-height: 25px;
    margin-left: 10px;
    left: 5px;
    position: relative;
	font-size: 12px;
}
aside#buddyList .buddyThumb {
    width: 30px;
    height: 30px;
    top: 0;
}
#titleBuddy {
    position: relative;
    margin-top: 25px;
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 15px;
    font-family: Century Gothic !important;
    right: 0;
}
#titleBuddy:after {
    content: '';
    width: 80%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -6px;
    box-shadow: 0 0 0 0.5px #A09E9E, 0 1px 0 1px #ECECEC;
}
#titleBuddy h3{
    margin: 0;
}
.alignthumb {
    display: block;
    position: relative;
    height: 20px;
}
aside#buddyList .list {
    position: relative;
    overflow: hidden;
    height: 490px;
    overflow-y: scroll;
    margin-right: 2px;
    background: #e4e4e4;
}
aside#buddyList .list::-webkit-scrollbar {
    width: 8px;
}
aside#buddyList .list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}
 
aside#buddyList .list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent;
}
aside#buddyList .list:hover::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.2);
}
nav ul li {
    display: inline;
    position: relative;
}
footer{
    position: fixed;
    bottom: 20px;
    left: 10px;
    width: calc(25% - 20px);
}

input.erro{
    clear: both;
    box-shadow: 0 0 8px 2px #f00;
    z-index: 99999;
    outline-color: #f00;
}